.week-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

.day{
    border-bottom: solid;
    border-right: solid;
    border-color: rgb(174, 171, 171);
    background-color: white;
    border-width: 2px;
    position: relative;
}

.day-titles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.days-label{
    text-align: end;
    border-bottom: solid;
    border-width: 10px;
    border-color: rgb(174, 171, 171);
    padding-bottom: 0px;
}

.month-container{
    padding-top: 0px;
    height: 550px;
    border-top: solid;
    border-top-color: rgb(174, 171, 171);
    border-left: solid;
    border-left-color: rgb(174, 171, 171);
    margin-bottom: 1000px;
}
.month-title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid;
    gap: 5px;
    padding: 3px;
}


.number{
    position: absolute;
    top: 0;
    right: 0;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-color: rgb(174, 171, 171);
    padding-left: 2px;
    padding-right: 2px;
}


.inactive{
    opacity: .6;
}